@font-face {
    font-family: ps2p;
    src: url(fonts/PressStart2P-Regular.ttf);
}

html, body {
    font-family: ps2p;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
}

input {
    font-family: ps2p;
    background-color: #1a1a1a;
    color: white;
    border: 1px solid white;
    height: 30px;
    text-align: center;
}

#installer {
    text-align: center;
}

#game {
    display: block;
    margin: 20px auto;
    border: 2px solid #333;
    background-color: #282828;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

#buttons,#tools {
    text-align: center;
}

.stone {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background-color: #555;
    color: #fff;
    border-radius: 8px;
    text-shadow: 1px 1px 2px #222;
    transition: all 0.3s ease;
    border: 2px solid #000;
}

.stone-selected {
    border: 2px solid greenyellow;
}

.stone-unselected {
    border: 2px solid #000;
}


button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: ps2p;
    cursor: pointer;
}

p {
    text-align: center;
    color: #ddd;
    font-size: 18px;
    margin-top: 20px;
}

#addons {
    border: 1px solid white;
    background-color: #1a1a1a;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.smoltext {
    font-size: 15px;
}

#debug {
    text-align: center;
}

.debugcont {
    padding-right: 25px;
}

h1 {
    text-align: center;
}

#other {
    text-align: center;
    font-size: large;
    color: purple;
}

.link {
    cursor: pointer;
}

#fileInput {
    display: none;
}

hr {
    width: 100%;
}